.project-container {
	padding: 40px;
	border: 1px solid #444;
}

#projects-frame {
	padding: 0 10px;
	max-width: 1000px;
	width: 92%;
}

#projects-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}