#projects-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-container {
	padding: 20px;
	border-radius: var(--border-radius);
	background-color: var(--primary-background-color);
}
