#selfie {
	max-width: 300px;
	width: 70%;
	border-radius: var(--border-radius);
	border: var(--border-thickness) solid var(--secondary-color);
}

#icon-container {
	display: flex;
	justify-content: center;
	gap: 8px;
}

#icon-container > * {
	cursor: pointer;
}
