#project-frame {
	text-align: center;
}

#project-screenshots-frame img {
	width: 100%;
	border-radius: 7px;
}

#project-videos-frame .yt-embed iframe {
	width: 100%;
	height: 480px;
	border-radius: 7px;
}

#project-name {
	font-family: 'Kalam', cursive;
	text-align: center;
}

.project-website-url {
	display: block;
}

.project-website-url:not(:last-of-type) {
	margin-bottom: 10px;
}