div[class*='frame']:not(:first-of-type) {
	margin-top: 50px;
}

.frame {
	max-width: 600px;
	width: 70%;
	border: 2px solid var(--secondary-color);
	border-radius: 5px;
	text-align: center;
	background-color: var(--secondary-background-color);
	margin: auto;
	padding: 20px;
}
