.frame {
	max-width: 600px;
	width: 90%;
	border: var(--border-thickness) solid var(--tertiary-color);
	border-radius: var(--border-radius);
	text-align: center;
	background-color: var(--secondary-background-color);
	margin: auto;
	padding: 20px;
}
