.skills-container {
	max-width: 1300px;
	width: 80%;

	padding-bottom: 3em;

	margin-left: auto;
	margin-right: auto;

	display: grid;
	grid-gap: 3em 5em;

	justify-items: center;

	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skills-container > .frame {
	height: 100%;
}

.skills-container ul {
	list-style-type: circle;
	text-align: left;
}
