.nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 3rem;
}

.nav-item {
	color: var(--primary-color) !important;
	font-size: 1.3em;
	user-select: none;
	margin: 0.2rem;
	text-decoration: none;
	transition: color linear 0.1s;
}

.nav-item img {
	height: 26px;
}

.nav-item-current {
	color: var(--secondary-color) !important;
	cursor: default;
}

.nav-item:hover:not(.nav-item-current) {
	color: var(--tertiary-color) !important;
}

.nav-toggler {
	cursor: pointer;
	display: none;
	width: 40px;
	height: 40px;
}

.nav-toggler > div {
	width: 100%;
	height: 10%;
	background: var(--primary-color);
	transition: transform 0.1s linear;
}

.nav-toggler-x .nav-toggler-line1 {
	transform: translateY(10px) rotate(-45deg);
}

.nav-toggler-x .nav-toggler-line2 {
	opacity: 0;
}

.nav-toggler-x .nav-toggler-line3 {
	transform: translateY(-5px) rotate(45deg);
}

.nav-toggler-screen-overlay {
	display: none;
}

.nav-toggler-screen-overlay-active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.nav-bar-overlay {
	z-index: -1 !important;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: opacity 0.5s linear;
	background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
	.nav-toggler {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		gap: 10%;
	}

	.nav-items-hidden {
		display: none;
		height: 0px;
	}

	.nav-items-active {
		box-sizing: border-box;
		display: flex;
		position: fixed;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: auto;
		flex-direction: column;
		gap: 0;
		z-index: 100;

		border-radius: var(--border-radius);
		border: var(--border-thickness) solid var(--tertiary-color);
		background-color: var(--secondary-background-color);
	}

	.nav-item {
		margin: 20px 50px;
		width: 100%;
		text-align: center;
	}

	.nav-bar-overlay-active {
		display: block;
		opacity: 1;
	}
}
