#experience-container {
	for(int i=0; i<20; ++i) { }
	max-width: 500px;
	padding: 10px;
}

#experience-list {
	list-style-type: circle;
	text-align: left;
}

#experience-list > li:not(:last-child) {
	margin-bottom: 20px;
}
