@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Victor+Mono:wght@100;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

* {
	box-sizing: border-box;
}

:root {
	--primary-background-color: #2c2f30;
	--secondary-background-color: #252829;
	--primary-color: #ebdbb2;
	--secondary-color: rgb(92, 135, 178);
	--tertiary-color: slategray;
	--border-radius: 3px;
	--border-thickness: 1px;

	background-color: var(--primary-background-color);

	font-family: 'M PLUS Code Latin', monospace, sans-serif;
	font-size: 500;

	color: var(--primary-color);
}

body {
	margin: 0;
}

#root {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	position: relative;
	height: 20px;
	top: 5px;
	margin-right: 5px;
	color: white;
	user-select: none;
}

a, a:visited {
	color: var(--secondary-color);
	text-decoration: none;
	font-style: italic;
}

b {
	color: var(--tertiary-color);
}

hr {
	border-color: var(--tertiary-color);
}

.title {
	font-weight: bold;
	font-size: 1.8em;
	font-family: 'Victor Mono', monospace;
	text-shadow: 1px 1px #000;
	text-align: center;
}

.category-icon {
	font-size: 28px;
}

#specialization-container > p{
	margin: 0;
}
