@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=M+PLUS+Code+Latin&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	background-color: #383838;
	color: #eee;
	font-family: 'M PLUS Code Latin', sans-serif;
}

.frame {
	max-width: 600px;
	border: 2px solid #bbb;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(70, 70, 100);
	margin: auto;
	padding: 20px;
}

.icon {
	position: relative;
	height: 20px;
	top: 5px;
	margin-right: 5px;
	color: white;
	user-select: none;
}

div[class*="frame"]:not(:first-of-type) {
	margin-top: 50px;
}

a {
	color: #affa;
	text-decoration: none;
}

a:visited {
	color: #affa;
}

h1, .title {
	font-family: 'Kalam', cursive;
	text-align: center;
}

h3 {
	text-align: center;
}