@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=M+PLUS+Code+Latin&display=swap');

body {
	--primary-background-color: #32302f;
	--secondary-background-color: #3c3836;
	--primary-color: #ebdbb2;
	--secondary-color: #539194;
	--tertiary-color: #83a598;

	box-sizing: border-box;
	margin: 0;
	background-color: var(--primary-background-color);

	font-family: 'M PLUS Code Latin', sans-serif;

	color: var(--primary-color);
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

.icon {
	position: relative;
	height: 20px;
	top: 5px;
	margin-right: 5px;
	color: white;
	user-select: none;
}

a {
	color: var(--secondary-color);
	text-decoration: none;
}

a:visited {
	color: var(--secondary-color);
}

.title {
	font-family: 'Kalam', cursive;
	text-align: center;
	border-bottom: 2px solid var(--tertiary-color);
	border-radius: 20px;
}

h3 {
	text-align: center;
}
